@tailwind base;
@tailwind components;
@tailwind utilities;

.glow {
    width: 0px;
    height: 0px;
    border-radius: 50%;
    box-shadow: 0 0 200px 130px #c026d3;
}

@keyframes slideInRight {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes shake {
    0%, 100% {
        transform: rotate(-20deg);
    }

    50% {
        transform: rotate(20deg);
    }
}